/*Reset*/
html, body, div, section, article, p, blockquote, ul, li, span{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibri', sans-serif;
  color: #fff;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Oswald');

a {
  text-decoration: none;
  cursor: pointer;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  color: #00adef;
}

img {
  border: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.center {
  text-align: center;
}

.wrapper {

}

h1, h2, h3, h4, h5, p {
  color: #000000;
  margin: 0;
}

h1 {
  font-weight: 700;
  line-height: 1.08;
}

h2 {
  font-weight: 700;
  line-height: 1.08;
}

ul {
  list-style-type: none;
}