.footer-item {
  padding: 45px 31px 0 24px;
  width: 370px;
  height: 309px;
  margin-bottom: 46px;
  background: #ffffff;
  border: 1px solid #efefef;

  .footer-item-header {
    font: 20px Raleway, sans-serif;
    color: #000000;
    padding-bottom: 18px;
    text-transform: uppercase;
  }

  .footer-item-description {
    font: 11px Ubuntu, sans-serif;
    color: #a5a4a4;
    line-height: 16px;
    margin-bottom: 15px;
  }

  .footer-list-item * {
    display: inline-block;
    vertical-align: middle;
  }

  li.footer-list-item {
      padding-bottom: 3px;

      img {
        margin-right: 10px;
      }

      .footer-list-text {
        font: 11px Ubuntu, sans-serif;
        color: #a5a4a4;
      }
  }
}

.footer-item:nth-child(3) {
  li.footer-list-item {
    margin-bottom: 11px;

    .footer-img-list-container {
      width: 30px;
      height: 30px;
      text-align: center;

      img {
        margin: auto;
      }
    }

    .footer-inner-text {
      width: 70%;
    }

    .footer-list-text {
      margin-left: 4px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .footer-item {
    width: 303px;
    height: 350px;
  }

  .footer-list-text {
    width: 80%;
  }
}
