.wrapper {
  width: 100%;
  padding: 0 15%;
  background: #efeeee;
}

@media screen and (max-width: 1320px) {
  .wrapper {
    padding: 0;
  }
}

.main-container {
  padding: 0 10px 46px;
  background: #ffffff;
}

.items-container {
  padding: 48px 0 73px;
  text-align: center;

  .items {
    display: flex;
    font-size: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .items {
      justify-content: space-around;
    }
  }

  button.load-more {
    display: inline-block;
    vertical-align: middle;
    font: 13px Myriad Pro, sans-serif;
    text-transform: uppercase;
    color: #ed1111;
    width: 118px;
    height: 36px;
    line-height: 32px;
    border: 1px solid #efefef;
    background: #ffffff;
    margin-top: -10px;
  }
}

.spinner {
  display: block;
  margin: auto;
  padding-bottom: 50px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 0;
  background: #ffffff;
}

@media screen and (max-width: 1700px) {
  .footer {
    justify-content: space-around;
  }
}
